html
  head
    link(rel="stylesheet" href="/css/styles.css")
  body
    h1 Kim's Convenience
    h2.season= `Season ${season.number}`
    table
      tr
        th.number No.
        th Title
        th Director
      for episodes in season.episodes
        tr
          td.number= episodes.number
          td.title= episodes.title
          td.director= episodes.director
        tr
          td.synopsis(colspan=3)= episodes.synopsis
  